<template>
  <section>
    <form @submit.prevent="submitData">
      <input type="name" placeholder="Your name" v-model="enteredName" />
      <input type="text" placeholder="Your age" v-model="enteredAge" />
      <input type="text" placeholder="Your age" v-model="enteredEmail" />
      <button>Set User Data</button>
    </form>
  </section>
</template>

<script>
export default {
  emits: ["set-data"],
  data() {
    return {
      enteredName: "",
      enteredAge: "",
      enteredEmail: "",
    };
  },
  methods: {
    submitData() {
      this.$emit(
        "set-data",
        this.enteredName,
        this.enteredAge,
        this.enteredEmail
      );
    },
  },
};
</script>

<style>
section {
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 1rem;
}
</style>