<template>
  <div>
    <active-user
      :username="user.name"
      :age="user.age"
      :email="user.email"
    ></active-user>
    <user-data @set-data="setUserData"></user-data>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        name: "Marija",
        age: "28",
        email: "marijicatr@gamil.com",
      },
    };
  },
  methods: {
    setUserData(name, age, email) {
      this.user = {
        name: name,
        age: age,
        email: email,
      };
    },
  },
};
</script>

<style>
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section {
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 1rem;
}
</style>
