<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
    <h1>Vue Behind The Scenes</h1>  
    </header>
    <section id="app">
      <h2>How Vue Works</h2>
      <input type="text" ref="userText">
      <p>{{ message }}</p>
    </section>
  </body>
</html>
