<template>
    <li>
        <header><h2>{{ friend.name }}</h2></header>
        <button @click="toggleDetails">{{ detailsAreVisible ? 'Hiden' : 'Show' }}</button>
    </li>
    <ul v-if="detailsAreVisible">
        <li><strong>Phone:</strong> {{ friend.phone }}</li>
        <li><strong>Email:</strong> {{ friend.email }}</li>
    </ul>

</template>

<script>    
export default {
    data() {
        return {
            detailsAreVisible: false,
            friend: {
                    id: 'mikic',
                    name: 'Benjamin Mikic',
                    phone: '061997311',
                    email: 'mikicbenjamin@gmail.com'
                }
        }
    },
    methods: {
        toggleDetails() {
            this.detailsAreVisible = !this.detailsAreVisible;
        }
    }
}
</script>
